## Exercise 3.1 Understanding your data
You will soon start building models in Keras to predict wages based on various professional and demographic factors.

Before you start building a model, it's good to understand your data by performing some exploratory analysis.

In this exercise, you will work with a .csv file that contains some data about workers in a company. You can download this file from the following link:

[hourly_wages.csv](https://drive.google.com/file/d/1elGBb48CX728knwJzU3ImHNvtuRoG7vu/view?usp=drive_link)

The data is pre-loaded into a pandas DataFrame called `df`. You can Use the `head()` and `describe()` methods for a quick overview of the DataFrame.

The target variable you'll be predicting is wage_per_hour. Some of the predictor variables are binary indicators, where a value of 1 represents True, and 0 represents False.

In this exercise, you will practice performing some exploratory analysis on your data to figure out: Of the 9 predictor variables in the DataFrame, how many are binary indicators?

## Instructions

* The min and max values as shown by `describe()` will be informative here.
How many binary indicator predictors are there?
  * 0
  * 5
  * 6

## Code

In [ ]:
import pandas as pd
# Load csv file into the dataframe: df
df = pd.read_csv("hourly_wages.csv")

Perfome exploratory analysis using `head()` and `describe()` methods

In [12]:
import pandas as pd
# Load csv file into the dataframe: df
df = pd.read_csv("hourly_wages.csv")
df.describe()
#Union, Female, Marr, South, Manufacturing & Construction all have min and max values of 0 and 1, respectively.
#Indicating they are binary attributes. 6 binary predictors total.

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000